<!DOCTYPE html>
<html>
  <head>
    <title>DesignStudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="display:flex;flex-direction:column;">
    <div style="display:flex;flex-direction:row;">
      <div id="side_menu_app" style="height:100vh;"></div>
      <div style="overflow:scroll;">
        <%= yield %>
      </div>
    </div>
  <div id="footer_app"></div>
  </body>
</html>
