<!DOCTYPE html>
<html>
  <head>
    <title>DesignStudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="full-vertical">
    <div class="row align-top medium-unstack expanded content-body">
      <div id="side_menu_app"></div>
      <div class="columns">
        <%= yield %>
      </div>
    </div>
    <div id="footer_app"></div>
  </body>
</html>
